venv
*.pyc
__pycache__/
.vscode/
data/*
logs/*
flask_session/
zArchive/
utils/custom_funds.py
portfolio_tracker.code-workspace
*.bat
*.log
.env
*.json
*.xlsx
test.py
db_temp.txt

# Elastic Beanstalk Files
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore

# GCloud Files
.gcloudignore
app.yaml