venv
*.pyc
__pycache__/
.vscode/
data/*
logs/*
flask_session/
zArchive/
utils/custom_funds.py
portfolio_tracker.code-workspace
*.bat
*.log
.env
*.json
test.py

# Elastic Beanstalk Files
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore