[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipykernel = "*"
pylint = "*"
flake8 = "*"

[packages]
pandas = "*"
requests = "*"
yfinance = "*"
investpy = "*"
flask = "*"
scipy = "*"
selenium = "*"
python-binance = "*"
plotly = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
email-validator = "*"
mysqlclient = "*"
html5lib = "*"
bs4 = "*"
twisted = "*"
cryptography = ">=3.3.2"
gunicorn = "*"
ipykernel = "*"

[pipenv]
allow_prereleases = true
