[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
numpy = "*"
bs4 = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
jinja2 = "*"
lxml = "*"
mysqlclient = "*"
plotly = "*"
pymysql = "*"
python-binance = "*"
python-dotenv = "*"
scipy = "*"
wtforms = "*"
yfinance = "*"
investpy = "*"
email-validator = "*"
sqlalchemy = "<2"
selenium = "*"
yahooquery = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
