-i https://pypi.org/simple
appdirs==1.4.4
beautifulsoup4==4.9.1
bs4==0.0.1
cachelib==0.1
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
fake-useragent==0.1.11
flask-session==0.3.2
flask==1.1.2
idna==2.9
investpy==0.9.14
itsdangerous==2.0.0a1
jinja2==3.0.0a1
lxml==4.5.1
markupsafe==2.0.0a1
multitasking==0.0.9
numpy==1.19.0rc2
pandas-datareader==0.8.1
pandas==1.0.4
parse==1.15.0
pyee==7.0.2
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
requests-html==0.10.0
requests==2.24.0
scipy==1.5.0rc2
six==1.15.0
soupsieve==2.0.1
tqdm==4.46.1
unidecode==1.1.1
urllib3==1.25.9
w3lib==1.22.0
websockets==8.1
werkzeug==1.0.1
yfinance==0.1.54
