-i https://pypi.org/simple/
attrs==20.3.0
autobahn==20.12.3
automat==20.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==8.0.0a1
constantly==15.1.0
cryptography==3.3.1
dateparser==1.0.0
flask==1.1.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
investpy==1.0
itsdangerous==2.0.0a1
jinja2==3.0.0a1
lxml==4.6.2
markupsafe==2.0.0a1
multitasking==0.0.9
numpy==1.20.0rc2
pandas==1.1.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyhamcrest==2.0.2
pyopenssl==20.0.1
python-binance==0.7.5
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.24.0
scipy==1.5.2
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
twisted==22.4.0
txaio==20.12.1
tzlocal==3.0b1
unidecode==1.1.2
urllib3==1.25.11
werkzeug==1.0.1
yfinance==0.1.54
zope.interface==5.2.0
