<!DOCTYPE html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {background-color: #dddddd}

tr:hover {background-color: #d5e5ff}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

#container *{padding: 5px 5px;}

a.button{
    appearance: button;
    text-decoration: none;
    color: initial;
}
/*
tbody{
  padding-top:30px;
  position:relative;
}
table thead {
  display:table;
  width: 100%;
  position: fixed;
}
table{table-layout:fixed}
*/
</style>
</head>

<body>
	{% block content %}

	{% endblock %}
</body>
</html>