<!DOCTYPE html>
<head>
{% block head %}

{% endblock %}
<style>

#container *{padding: 5px 5px;}

a.button{
    appearance: button;
    text-decoration: none;
    color: initial;
}

table{
    font-family: Calibri;
    font-size:10;
    border-collapse: collapse
}
th{text-align: left}
tr{text-align: right}

</style>
</head>

<body>
	{% block content %}

	{% endblock %}
</body>
</html>

