{% extends 'base.jinja2' %}
{% block head %}
<title>Portfolio Tracker: Stock</title>
<style>
div{
    max-width: 800px
}
</style>
{% endblock %}

{% block content %}
<h1>Portfolio Tracker</h1>
<h2>Stock: {{stock_name}}</h2>
<p>
<div><b>{{message}}</b></div>
<p>
<form method="post">
<button type="submit">Update & Save</button>
<a href="/"><button type="button">Back</button></a>
    <div>
        {{tables}}
    </div>
<button type="submit">Update & Save</button>
<a href="/"><button type="button">Back</button></a>
</form>
{% endblock %}