{% extends 'base.jinja2' %}
{% block content %}

<head>
<title>Portfolio Tracker: View Trades</title>
</head>

<h1>Portfolio Tracker</h1>
<h2>View Portfolio Trades</h2>
<form method="post">
<button type="submit">Update & Save</button>
<a href="/"><button type="button">Back</button></a>
    <div>
        {{tables}}
    </div>
<button type="submit">Update & Save</button>
<a href="/"><button type="button">Back</button></a>
</form>
{% endblock %}