{% extends 'base.jinja2' %}
{% set active_page = "index" %}

{% block app_styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/r-2.2.7/rg-1.1.2/datatables.min.css"/>
    <style>
        table#T_portfolio.dataTable {font-size:14px}
        th { font-size: 14px; text-align: left}
        tr { font-size: 14px; text-align: right}
        table#T_portfolio.dataTable tbody tr:hover {background-color: #dff}
        table#T_portfolio.dataTable tbody tr:hover > .sorting_1 {background-color: #dff}
        .td-left {text-align: left}
    </style>
{% endblock app_styles %}

{% block app_content %}
<div class="container">
    <h2>Portfolio for {{ current_user.username }}</h2>
    <label> Portfolio actions:</label>
    <div class="row">
        <div class="col-sm"><form action="/exportpf" method="post"><input type="submit" value="Export to CSV"></form></div>
    </div>
    <form action="/update" method="post">
        <div class="row">
            <div class="col-sm">
                <input type="date" name="date" id="date">
                <input type="hidden" name="time_offset" id="time_offset" value="0">
            </div>
            <div class="col-sm">
                <input type="checkbox" id="hide_zero" name="hide_zero" value="True"> Show zero balances? 
            </div>
            <div class="col-sm">
                <input type="checkbox" id="no_update" name="no_update" value="True" checked> Update prices? 
            </div>
            <div class="col-sm">
                Currency: 
                <select name="currency" id="currency">
                    <option value="AUD">AUD</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="EUR">EUR</option>
                    <option value="ZAR">ZAR</option>
                </select>
            </div>
            <div class="col-sm">
                <input type="submit" value="Refresh">
            </div>
        </div>
    </form>
    <p>
</div>
<div class="container-fluid">
    <div class="table-responsive">
            {{tables}}
    </div>
</div>
{% endblock %}

{% block app_scripts %}
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/r-2.2.7/rg-1.1.2/datatables.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/absolute.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/enum.js"></script>
    <script>
    $(document).ready( function () {
        var nameType = $.fn.dataTable.absoluteOrder( {
            value: 'nan', position: 'bottom'
        } );
        $.fn.dataTable.enum(['STOCK', 'FUND', 'CRYPTO', 'LOAN', 'CASH', '']);
        $('#T_portfolio').DataTable({
            autoWidth: false,
            columnDefs: [
                { targets: [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16], type: "num-fmt" },
                { targets: [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16], type: nameType },
                { targets: 18, visible: false}
            ],
            colReorder: true,
            fixedHeader: {
                footer: true
            },
            fixedColumns: {
                leftColumns: 2
            },
            orderFixed: [18, 'asc'],
            paging: false,
            responsive: true,
            rowGroup:{
                dataSrc: 18, 
                startClassName: 'td-left'
            },
            searching: false
        });
    var d = new Date();
    var n = d.getTimezoneOffset();
    document.getElementById("time_offset").value = n;
    } );
    
    
    </script>
{% endblock app_scripts %}