{% extends 'base.jinja2' %}
{% set active_page = "login" %}

{% block app_content %}
<div class="container">
    <h2>Sign In</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <br>
    <p>New User? <a href="{{ url_for('register') }}">Register here</a></p>
    <p>
        Forgot Your Password?
        
    </p>
</div>
{% endblock app_content %}